@import "bootstrap/scss/bootstrap"

body
    background-color: #f8f9fa !important

#table-body-coin:hover
    cursor: pointer

.border-green
   border-color: #2cd353 !important

.modal-xl
    width: 90%